* {
  box-sizing : border-box;
}

html, body {
  margin          : 0;
  padding         : 0;
  height          : 100vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.slidebox {
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
}

.slideboxed .slidebox.container {
  z-index        : 1;
  opacity        : 1;
  pointer-events : auto;
}

.slideboxed .main-content {
  filter     : blur(5px) grayscale(.7);
  opacity    : .3;
  transition : filter, opacity .3s;
}

.slidebox.container {
  opacity        : 0;
  transition     : opacity .5s;
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
  pointer-events : none;
}

.slidebox.dimmer {
  filter : blur(5px) grayscale(.7);
}

.slidebox.content {
  display         : flex;
  justify-content : center;
  top             : 10px;
  height          : calc(100% - 20px);
}

.slidebox.content img {
  align-self  : center;
  height      : auto;
  user-select : none;
}

.slidebox.controls {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
}

.slidebox.control {
  width      : auto;
  height     : auto;
  position   : static;
  padding    : 0 20px;
  cursor     : pointer;
  z-index    : 2;
  transition : opacity .4s;
}

.slidebox.control:hover {
  opacity : .5;
}

.slidebox.control.prev {
  transform: rotate(180deg);
}

.thumbnails {
  height : 30vh;
}

.thumbnail {
  cursor      : pointer;
  margin      : 1px;
  flex-grow   : 0;
  flex-shrink : 0;
  display     : inline-block;
  height      : 100%;
}

.thumbnail img {
  height : 100%;
}
